@keyframes slideUpTitle {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideUpMenu {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDownMenu {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(20px);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(20vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-5vw);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 1;
        transform: translateY(0vw);
    }

    to {
        opacity: 0;
        transform: translateY(-5vw);
    }
}

@keyframes angleRotate {
    from {
        transform: rotate(-90deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes angleRotateClose {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-90deg);
    }
}

@keyframes slideInMessage {
    0% {
        transform: translateY(560px);
        width: 500px;
    }

    50% {
        transform: translateY(0);
        width: 500px;
    }

    100% {
        transform: translateY(0);
        width: 50%;
    }
}

@keyframes slideInMessageP {
    from {
        transform: translateY(560px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideDownMessage {
    from {
        transform: translateY(0);
        width: 50%;
    }

    to {
        transform: translateY(560px);
        width: 500px;
    }
}

@keyframes slideDownMessageP {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(560px);
    }
}

@keyframes arrowMessageUp {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes arrowMessageDown {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes classModalActive {
    from {
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, calc(-50% + 30px));
    }

    to {
        opacity: 1;
        pointer-events: all;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes transition {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100vh);
    }
}

@keyframes transitionR {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes choiceIn {
    from {
        transform: rotate(20deg) translate(-50%, calc(-50% - 15px));
        opacity: 0;
    }

    to {
        transform: rotate(0) translateY(-50%, -50%);
        opacity: 1;
    }
}

@keyframes choiceOut {
    from {
        transform: rotate(0) translateY(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: rotate(20deg) translate(-50%, calc(-50% - 15px));
        opacity: 0;
    }
}

@keyframes stats {
    from {
        width: 0;
    }

    to {
        width: 30%;
    }
}

/* developed by achille david and thibaut dusautoir */