@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* for debug */
pre {
    position: absolute;
    background: black;
    top: 0
}

pre:hover {
    opacity: 0.2;
}

/* =============== */

html {
    background-color: var(--html-bg);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat';
    font-weight: 300;
    letter-spacing: -0.5px;
}

button {
    border: none;
    cursor: pointer;
}

input:focus,
button:focus {
    outline: none;
}

body {
    min-width: 280px;
    min-height: 100vh;

    background: linear-gradient(45deg, rgba(25, 33, 46, 1) 75%, rgba(33, 45, 64, 1) 100%);
    background-repeat: no-repeat;
    color: var(--white);

    -webkit-font-smoothing: antialiased;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-js {
    justify-content: center;
}

.flex-al {
    align-items: center;
}

.m-0a {
    margin: 0 auto;
}

.mt-3 {
    margin-top: 30px;
}

.mt-5 {
    margin-top: 50px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 50px;
}

.mr-tab {
    margin-right: 20px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-tab {
    margin-left: 50px;
}

.pd-1 {
    padding: 10px;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.ovf {
    overflow: auto;
}

.tag {
    letter-spacing: 0;
    width: fit-content;
    height: fit-content;

    background: var(--tag-bg);
    color: var(--tag-cl);
    font-family: SF, arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 800;
    text-transform: uppercase;

    border-radius: var(--border-radius);
    padding: 5px 8px;
}

.container {
    margin: 0 20px;
}

.login {
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;

    display: none;
    width: fit-content;
    opacity: 0;
}

.login.active {
    display: block;
    animation: slideIn 400ms ease 100ms both;
}

.login.close {
    display: block;
    animation: slideDown 400ms ease 100ms both;
    pointer-events: none;
}

.login__items input {
    padding: 4px 12px;

    color: var(--white);
    background: var(--submenu);

    border: 1px #3d406d solid;
    border-radius: var(--border-radius);
}

.login__items input::placeholder {
    color: var(--grey);
}

.login__items i {
    position: absolute;
    top: 4px;
    right: 6px;
    padding: 4px;

    font-size: 0.7rem;
    font-weight: 500;
    color: rgb(185, 185, 185);
    background-color: var(--submenu);

    cursor: pointer;
}

nav {
    padding: 30px 0;
    justify-content: space-between;
}

.nav__logo {
    text-shadow: 6px 6px 10px rgba(17, 21, 28, 0.65);
    font-weight: 400;
}

.nav__logo p:last-child {
    font-size: 2rem;
    font-weight: 700;
}

.nav__menu>* {
    transition: var(--transition);
    cursor: pointer;
}

.nav__menu__usr {
    align-items: flex-end;
    cursor: default;
}

.nav__menu__usr img {
    max-height: 35px;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 100vmax;
    cursor: pointer;
}

.nav__menu__usr img:hover {
    opacity: 0.8;
}

.nav__menu__usr i {
    position: absolute;
    right: 16px;
    top: 62px;
    display: flex;
    font-size: 0.5rem;
    transform: rotate(-90deg);
    background-color: var(--tag-bg);
    width: 0.5rem;
    aspect-ratio: 1;
    border: 3px solid var(--background);
    padding: 3px;
    border-radius: 100vmax;
    align-items: center;
    justify-content: center;
}

.nav__menu__usr i.active {
    animation: angleRotate var(--transition) ease both;
}

.nav__menu__usr i.close {
    animation: angleRotateClose var(--transition) ease both;
}

.nav__menu button {
    background-image: radial-gradient(circle at 100% 100%, transparent 4px, #7b55cd 4px, #7b55cd 5px, transparent 5px), linear-gradient(to right, #7b55cd, #6197bf), radial-gradient(circle at 0% 100%, transparent 4px, #6197bf 4px, #6197bf 5px, transparent 5px), linear-gradient(to bottom, #6197bf, #6197bf), radial-gradient(circle at 0% 0%, transparent 4px, #6197bf 4px, #6197bf 5px, transparent 5px), linear-gradient(to left, #6197bf, #7b55cd), radial-gradient(circle at 100% 0%, transparent 4px, #7b55cd 4px, #7b55cd 5px, transparent 5px), linear-gradient(to top, #7b55cd, #7b55cd);
    background-size: 5px 5px, calc(100% - 10px) 1px, 5px 5px, 1px calc(100% - 10px);
    background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
    background-repeat: no-repeat;
    background-color: transparent;
    color: var(--white);

    padding: 5px 10px;
}

.nav__submenu {
    width: 140px;
    border-radius: var(--border-radius);
    height: auto;
    background: var(--submenu);
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: -30px;
    font-size: 0.8rem;
    display: none;

    z-index: 10000;
}

.nav__submenu__head span {
    font-weight: 700;
    letter-spacing: 0;
}

.nav__submenu__foot {
    justify-content: space-between;
    align-items: flex-end;
}

.nav__submenu.active {
    display: unset;
    animation: slideUpMenu var(--transition) ease both;
}

.nav__submenu.close {
    display: unset;
    animation: slideDownMenu var(--transition) ease both;
    pointer-events: none;
}

.content {
    margin: 50px auto 0 auto;
    max-width: 1440px;
    padding: 0 80px 80px 80px;
}

.content {
    justify-content: space-between;
}

.hero,
.img {
    flex-basis: 50%;
    max-width: 50%;
}

.hero__title {
    overflow: hidden;
}

.hero__title p {
    font-size: 3rem;
    font-weight: 700;

    animation: slideUpTitle 800ms ease var(--transition) both;
}

.hero__title p.snd {
    animation-delay: 560ms;
}

.hero__headline p a {
    transition: var(--transition);
    font-weight: 300;
}

.hero__headline p a:hover {
    color: var(--grey);
}

.hero__buttons {
    gap: 25px;
}

.hero__buttons a,
.hero__buttons button {
    padding: 4px 12px;

    background: linear-gradient(145deg, rgba(123, 85, 205, 1) 0%, rgba(97, 151, 191, 1) 100%);
    outline: none;
    border: none;

    font-size: 0.93rem;
    border-radius: var(--border-radius);
    color: var(--white);

    cursor: pointer;
}

.hero__buttons a {
    background: var(--black-light);
    gap: 6px;
}

.hero__buttons a img {
    height: 15px;
    aspect-ratio: 1;
}

.img {
    justify-content: end;
}

.img img {
    max-width: 75%;
    aspect-ratio: 1;
    transform: translateX(0) rotate(10deg);
}

.modal {
    position: fixed;
    bottom: 10px;
    right: 0;

    padding: 8px;
    margin: 20px;

    border-radius: var(--border-radius);

    transform: translateX(20vw);
    opacity: 0;
    transition: ease var(--transition);
}

.modal.active {
    transform: translateX(0);
    opacity: 1;
    transition: ease var(--transition);
}

.modal.error {
    border: 2px solid var(--red);
    color: var(--red);
    background: var(--red-light);
}

.modal.success {
    border: 2px solid #289a37;
    color: #289a37;
    background: #cbe6cf;
}

.modal p {
    font-weight: 600;
}

.modal i {
    font-weight: 100;
    font-size: 2rem;
}

.dashboard {
    gap: 20px;
}

.dashboard__card {
    background: var(--background-light);
    border-radius: var(--border-radius);
}

.dashboard__card__head {
    justify-content: space-between;
}

.dashboard__head__arrows i {
    transform: rotate(90deg);
    transition: var(--transition);
    cursor: pointer;
}

.dashboard__head__arrows i:last-child {
    transform: rotate(-90deg);
}

.dashboard__head__arrows i:hover {
    color: var(--grey);
}

.dashboard__col {
    flex-basis: 60%;
    max-width: 60%;
    gap: 20px;
}

.dashboard__row {
    flex-basis: 40%;
    max-width: 40%;
}

.dashboard__row .dashboard__card {
    width: 100%;
}

.dashboard__card__head__title .global-average {
    color: var(--green);
    font-weight: 700;
}

.dashboard__card__head__title .date-container {
    display: none;
    font-size: 0.75rem;
    gap: 5px;
}


.dashboard__card__head__title .date-container.current {
    display: flex;
}

.dashboard__card__tab span {
    color: rgb(171 171 171);
    text-transform: lowercase;
}

.course-list__course__coef,
.course-list__course__teacher,
.dashbord__card__legend {
    color: rgb(171 171 171);
}

.course-list,
.grade-list {
    max-height: 220px;
    overflow: auto;
}

.course-list__course {
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    font-size: 0.75rem;
}

.course-list__grade {
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    font-size: 0.75rem;
}

.news__banner {
    display: none;
    background-blend-mode: soft-light;
    background-size: cover;
    border-radius: var(--border-radius);
}

.news__banner.active {
    display: block;
}

.news__banner__title {
    padding: 0;
    justify-content: space-between;
}

.news__banner__desc {
    background: rgba(0, 0, 0, 0.7);
    font-size: 0.75rem;
}

.news__banner__desc p {
    padding: 2.5px;
}

.news__banner__desc p {
    border-radius: var(--border-radius);
    max-height: 100px;
    overflow: auto;
}

.message {
    position: fixed;
    bottom: 0px;
    right: 30px;

    width: 400px;
    height: 560px;
    transform: translateY(520px);

    background: var(--background);
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    z-index: 10;
}

.message.active {
    animation: slideInMessage var(--transition) ease both;
}

.message.close {
    animation: slideDownMessage var(--transition) ease both;
}

.message__head {
    /* height: 40px; */
    padding: 10px;

    justify-content: space-between;

    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background: var(--submenu);

    cursor: pointer;
}

.message__head p,
.message__head span {
    font-weight: 700;
}

.message__head p::after {
    content: 'new message';
    display: inline-block;
    letter-spacing: 0;
    width: fit-content;
    height: fit-content;

    background: var(--tag-bg);
    color: var(--tag-cl);
    font-family: SF, arial, sans-serif;
    font-size: 0.55rem;
    font-weight: 800;
    text-transform: uppercase;

    border-radius: var(--border-radius);
    padding: 4px 5px;
    margin-left: 10px;
}

.message__head i {
    transform: rotate(180deg);
}

.message__head i.active {
    animation: arrowMessageUp var(--transition) ease both;
}

.message__head i.close {
    animation: arrowMessageDown var(--transition) ease both;
}

.message__content {
    min-height: 460px;
    max-height: 460px;
    justify-content: flex-end;
}

.chats-container {
    overflow: auto;
}

.chat__usr {
    width: 30px;
    height: 30px;
}

.chat__usr img {
    max-width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100vmax;
}

.chat__content {
    max-width: 300px;
    gap: 3px;
}

.chat__content__name {
    overflow: hidden;
    font-size: 0.8rem;
    color: var(--grey);
    justify-content: space-between;
}

.chat__content__text {
    width: fit-content;
    height: fit-content;
    border-radius: var(--border-radius);

    background: var(--tag-bg);
    color: var(--tag-cl);
}

.chat__content__text p {
    font-size: 0.75rem;
    -webkit-font-smoothing: subpixel-antialiased;
}

.message__write {
    padding: 5px 10px 10px 10px;
}

.message__write input {
    width: 100%;
    padding: 5px;

    color: var(--white);
    background: var(--submenu);

    outline: 1px #3d406d solid;
    border: none;
    border-radius: var(--border-radius);
}

.message__write i {
    font-size: 0.75rem;
    color: var(--tag-cl);

    transition: var(--transition);
    cursor: pointer;
}

.message__write i:hover {
    filter: brightness(0.7);
}

.michael {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -32%);
}

.michael.active {
    display: block;
}

/* developpment planning */

.day {
    display: none;
}

.day.current {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.class {
    font-size: 0.8rem;
    border: 2px solid #515486;
    border-radius: var(--border-radius);
    background: #3d406d66;
    padding: 8px;
}

.class__hour {
    font-size: 0.75rem;
    color: var(--tag-cl);
}

.class__details p:first-child {
    font-size: 1rem;
    text-transform: capitalize;
}

@media screen and (max-width:280px) {
    .nav__menu__usr i {
        display: none;
    }
}

@media screen and (max-width:320px) {
    .message {
        display: none;
    }
}

@media screen and (max-width:450px) {
    .message {
        width: 280px;
    }

    .message__head p span {
        display: none;
    }
}

@media screen and (max-width:660px) {

    .login {
        padding: 15px;
        border: 2px solid #515486;
        background: #262b41;
        border-radius: var(--border-radius);
    }

    .login__items {
        flex-direction: column;
    }

    .login__items i {
        top: 56px;
        right: 20px;
    }

    .course-list__course {
        gap: 20px;
    }

    .date-container p:first-child {
        display: none;
    }
}

@media screen and (max-width:1024px) {

    .content {
        justify-content: center;
        padding: 0 20px 20px 20px;
    }

    .hero {
        text-align: center;
        margin-top: 70px;
    }

    .img {
        display: none;
    }

    .hero {
        flex-basis: unset;
        max-width: unset;
    }

    .hero .tag {
        width: max-content;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .hero__buttons {
        margin-top: 40px;
        justify-content: center;
    }

    .dashboard {
        flex-direction: column-reverse;
    }

    .dashboard__col,
    .dashboard__row {
        flex-basis: unset;
        max-width: unset;
    }
}

/* devloped by achille david and thibaut dusautoir */