/* for debug */
pre {
    position: absolute;
    background: black;
    top: 0
}

pre:hover {
    opacity: 0.2;
}

/* =============== */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Montserrat";
}

body {
    min-width: 280px;
    min-height: 100vh;
    overflow: auto;
    margin: 0 auto;
    background: linear-gradient(45deg, rgba(25, 33, 46, 1) 75%, rgba(33, 45, 64, 1) 100%);
    background-repeat: no-repeat;
    color: var(--text);
    -webkit-font-smoothing: antialiased;
}

.tag {
    font-family: SF, arial, sans-serif;
    width: fit-content;
    height: fit-content;
    background: #3d406d;
    border-radius: 3px;
    color: #c2bcfa;
    font-size: 0.75rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 5px 8px;
}

.mb-1 {
    margin-bottom: 20px;
}

.mb-2 {
    margin-bottom: 10px;
}

.container {
    margin: 0 20px;
    margin-bottom: 50px;
}

.container .login-form {
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
    opacity: 0;
    display: none;
    width: fit-content;
    margin: 0 auto;
}

.container .login-form.active {
    display: block;
    animation: slideIn 400ms ease 100ms both;
}

.container .login-form.close {
    display: block;
    animation: slideDown 400ms ease 100ms both;
    pointer-events: none;
}


.container .login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .login-form .login-input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container .login-form .login-input input {
    padding: 4px 12px;
    border: 1px #3d406d solid;
    border-radius: 4px;
    color: var(--text);
    background: var(--submenu);
}

.container .login-form button {
    border: none;
    cursor: pointer;
}

.container .login-form .login-input input:focus,
.container .login-form button:focus {
    outline: none;
    transition: 100ms;
}

.container .login-form .login-input input::placeholder {
    color: rgb(185, 185, 185);
}

nav {
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
}

nav .nav-logo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    text-shadow: 6px 6px 10px rgba(17, 21, 28, 0.65);
    cursor: pointer;
}

nav .nav-logo p {
    font-size: 1rem;
}

nav .nav-logo p:last-child {
    font-size: 2rem;
    font-weight: 600;
}

nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav .nav-menu>* {
    transition: 300ms;
    cursor: pointer;
    text-transform: lowercase;
}

nav .nav-menu .usr-img {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: default;
}

nav .nav-menu .usr-img img {
    max-height: 2.2rem;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 100vmax;
    cursor: pointer;
}

nav .nav-menu .usr-img img:hover {
    opacity: 0.8;
}

nav .nav-menu .usr-img i {
    display: flex;
    font-size: 0.5rem;
    transform: translateX(-12px) rotate(-90deg);
    background-color: #19212E;
    width: 0.5rem;
    padding: 2.5px;
    border-radius: 100vmax;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
}

nav .nav-menu .usr-img i.active {
    animation: angleRotate 300ms ease both;
}

nav .nav-menu .usr-img i.close {
    animation: angleRotateClose 300ms ease both;
}

nav .nav-menu a:last-child {
    background-image: radial-gradient(circle at 100% 100%, transparent 4px, #7b55cd 4px, #7b55cd 5px, transparent 5px), linear-gradient(to right, #7b55cd, #6197bf), radial-gradient(circle at 0% 100%, transparent 4px, #6197bf 4px, #6197bf 5px, transparent 5px), linear-gradient(to bottom, #6197bf, #6197bf), radial-gradient(circle at 0% 0%, transparent 4px, #6197bf 4px, #6197bf 5px, transparent 5px), linear-gradient(to left, #6197bf, #7b55cd), radial-gradient(circle at 100% 0%, transparent 4px, #7b55cd 4px, #7b55cd 5px, transparent 5px), linear-gradient(to top, #7b55cd, #7b55cd);
    background-size: 5px 5px, calc(100% - 10px) 1px, 5px 5px, 1px calc(100% - 10px);
    background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
    background-repeat: no-repeat;

    padding: 5px 10px;
}

nav .nav-menu a:hover {
    color: var(--textHover);
    transform: translateY(-2px);
}

nav .nav-menu button {
    background-image: radial-gradient(circle at 100% 100%, transparent 4px, #7b55cd 4px, #7b55cd 5px, transparent 5px), linear-gradient(to right, #7b55cd, #6197bf), radial-gradient(circle at 0% 100%, transparent 4px, #6197bf 4px, #6197bf 5px, transparent 5px), linear-gradient(to bottom, #6197bf, #6197bf), radial-gradient(circle at 0% 0%, transparent 4px, #6197bf 4px, #6197bf 5px, transparent 5px), linear-gradient(to left, #6197bf, #7b55cd), radial-gradient(circle at 100% 0%, transparent 4px, #7b55cd 4px, #7b55cd 5px, transparent 5px), linear-gradient(to top, #7b55cd, #7b55cd);
    background-size: 5px 5px, calc(100% - 10px) 1px, 5px 5px, 1px calc(100% - 10px);
    background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    color: var(--text);

    padding: 5px 10px;
}

nav .nav-menu button:hover {
    color: var(--textHover);
    transform: translateY(-2px);
}

nav .nav-menu i {
    display: none;
}

@media screen and (max-width: 600px) {
    nav .nav-menu i.fa-bars {
        display: unset;
    }

    nav .nav-menu a,
    nav .nav-menu button,
    nav .nav-menu img,
    nav .nav-menu i.fa-angle-down {
        display: none;
    }
}

.container .dropdown-menu {
    width: 140px;
    padding: 10px;
    border-radius: 4px;
    height: auto;
    background: var(--submenu);
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: -30px;
    font-size: 0.8rem;
    display: none;
    z-index: 10000;
}

.container .dropdown-menu-1 span {
    font-weight: 600;
}

.container .dropdown-menu-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container .dropdown-menu.active {
    display: unset;
    animation: slideUpMenu 300ms ease both;
}

.container .dropdown-menu.close {
    display: unset;
    animation: slideDownMenu 300ms ease both;
    pointer-events: none;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 80px;
    height: inherit;
}

.content.flex {
    display: flex;
    justify-content: space-between;
}

.content .left-title,
.content .right-img {
    flex-basis: 50%;
    max-width: 50%;
}

.content .left-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .left-title .title-effect {
    height: fit-content;
    overflow: hidden;
}

.content .left-title .title-effect p {
    font-size: 3rem;
    font-weight: 600;
    animation: slideUpTitle 800ms ease 300ms both;
}

.content .left-title .title-effect p.snd {
    font-size: 3rem;
    animation-delay: 560ms;
}

.content .left-title .headline p a {
    transition: 300ms;
}

.content .left-title .headline p a:hover {
    color: var(--textHover);
}

.content .left-title .headline .headline-buttons {
    display: flex;
    gap: 25px;
}

.content .left-title .headline .headline-buttons a,
.content .left-title .headline .headline-buttons button {
    background: rgb(123, 85, 205);
    background: linear-gradient(145deg, rgba(123, 85, 205, 1) 0%, rgba(97, 151, 191, 1) 100%);
    border-radius: 4px;
    padding: 4px 12px;
    outline: none;
    border: none;
    color: var(--text);
    font-size: 0.93rem;
    cursor: pointer;
}

.content .left-title .headline .headline-buttons a:last-child {
    display: flex;
    flex-direction: row;
    background: #2d2d2d;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.content .left-title .headline .headline-buttons a:last-child img {
    height: 15px;
    aspect-ratio: 1;
}

.content .right-img {
    display: flex;
    justify-content: end;
}

.content .right-img img {
    max-width: 75%;
    aspect-ratio: 1;
    transform: translateX(0) rotate(10deg);
}

.modal {
    width: auto;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;

    transform: translateX(20vw);
    opacity: 0;
    transition: ease 0.4s;
}

.modal.active {
    transform: translateX(0);
    opacity: 1;
    transition: ease 0.4s;
}

.modal.error {
    border: 2px solid #db3333;
    color: #db3333;
    background: #eeb2b2;
}

.modal.success {
    border: 2px solid #289a37;
    color: #289a37;
    background: #cbe6cf;
}

.modal p {
    font-weight: 600;
}

.modal i {
    font-weight: 100;
    font-size: 2rem;
}

.content .dashboard {
    display: flex;
    gap: 20px;
}

.content .dashboard h4 {
    font-size: 12px;
}

.content .dashboard .dsb-left {
    flex-basis: 60%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content .dashboard .dsb-left .title {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .dashboard .dsb-left .new-banner {
    background: rgba(0, 0, 0, 0.2);
    background-blend-mode: soft-light;
    background-size: cover;
    padding: 10px;
}

.content .dashboard .dsb-left .new-banner .title {
    margin-bottom: 10px;
    font-weight: 500;
}

.content .dashboard .dsb-left .new-banner .description {
    background: rgba(23, 29, 41, 0.8);
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    text-transform: lowercase;
    padding: 10px;
}

.content .dashboard .dsb-left .new-banner .description p {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-height: 100px;
    overflow: auto;
}

.content .dashboard .dsb-left .grade {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
}

.content .dashboard .dsb-left .course {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    font-size: 14px;
}

.content .dashboard .dsb-left .course-list {
    max-height: 150px;
    overflow: auto;
}

.content .dashboard .dsb-left .coef,
.content .dashboard .dsb-left .teacher {
    color: rgb(171 171 171);
}

.content .dashboard .dsb-left .exam {
    color: #c2bcfa;
    font-weight: 600;
}

.notes-r {
    display: flex;
    flex-direction: column;
}

.content .dashboard .case {
    padding: 10px;
    background: #273246;
    /* box-shadow: 5px 5px 27px 0px rgba(0, 0, 0, 0.31); */
    border-radius: 4px;
}

.content .dashboard .dsb-right .case {
    width: 100%;
}

.content .dashboard .dsb-right {
    flex-basis: 40%;
    display: flex;
    max-width: 40%;
}

.content .dashboard .dashboard-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .dashboard .dashboard-head .arrows-dashboard-head {
    display: flex;
    gap: 10px;
}

.content .dashboard .dashboard-head .arrows-dashboard-head i:hover {
    cursor: pointer;
    color: var(--textHover);
}

.content .dashboard .dashboard-head .arrows-dashboard-head i {
    transform: rotate(90deg);
    transition: 300ms;
}

.content .dashboard .dashboard-head .arrows-dashboard-head i:last-child {
    transform: rotate(-90deg);
}

/* devloped by achille david and thibaut dusautoir */