* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Montserrat";
}

body {
    background: linear-gradient(45deg, rgba(25, 33, 46, 1) 75%, rgba(33, 45, 64, 1) 100%);
    color: var(--text);
    height: 100vh;
}