@media screen and (max-width:280px) {
    .nav__menu__usr i {
        display: none;
    }
}

@media screen and (max-width:319px) {
    .message {
        display: none;
    }
}

@media screen and (max-width:450px) {
    .class__modal {
        width: 250px;
    }

    .class__modal__title p {
        font-size: 0.75rem;
    }

    .class__modal__title h1 {
        font-size: 1rem;
    }

    .class__modal__content p {
        font-size: 0.9rem;
    }

    .class__modal__content span {
        font-size: 0.8rem;
    }

    .message__head p span {
        display: none;
    }

    /* 
    .db-btn {
        justify-content: space-between;
    } */

    .sendmessage {
        display: none;
    }
}

@media screen and (max-width:660px) {
    .class__modal.active {
        animation: fadein var(--transition) both;
        opacity: 1;
        pointer-events: all;
    }

    .container.active {
        transform: scale(1);
    }

    .login {
        padding: 15px;
        border: 2px solid #515486;
        background: var(--html-bg);
        border-radius: var(--border-radius);
    }

    .login__items {
        flex-direction: column;
    }

    .login__items i {
        top: 59px;
        right: 24px;
    }

    .course-list__course {
        gap: 20px;
    }

    .date-container p:first-child {
        display: none;
    }

    .message {
        right: 20px;
        width: calc(100% - 40px);
    }

    .survey__choice {
        width: 100%;
    }
}

@media screen and (max-width:1024px) {

    .container {
        margin-bottom: 50px;
    }

    .content {
        justify-content: center;
        padding: 0;
    }

    .hero {
        text-align: center;
        margin-top: 70px;
    }

    .img {
        display: none;
    }

    .hero {
        flex-basis: unset;
        max-width: unset;
    }

    .hero .tag {
        width: max-content;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .hero__buttons {
        margin-top: 40px;
        justify-content: center;
    }

    .dashboard {
        flex-direction: column-reverse;
    }

    .dashboard__col,
    .dashboard__row {
        flex-basis: unset;
        max-width: unset;
    }

    .message.active {
        animation: slideInMessageP var(--transition) ease both;
    }

    .message.close {
        animation: slideDownMessageP var(--transition) ease both;
    }
}

@media screen and (max-width:1170px) {
    .survey__choice {
        width: 100%;
    }
}