@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: -0.5px;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
*::selection {
  background: rgba(127, 173, 218, 0.6823529412);
}

::-webkit-scrollbar {
  display: none;
}

html {
  background-color: var(--html-background);
  min-width: 100vw;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(45deg, rgb(25, 33, 46) 75%, rgb(33, 45, 64) 100%);
  background-repeat: no-repeat;
  color: var(--white);
  scroll-behavior: smooth;
}

.tag {
  letter-spacing: 0;
  width: fit-content;
  height: fit-content;
  background: var(--tag-bg);
  color: var(--tag-cl);
  border-radius: 4px;
  padding: 8px;
  transition: 300ms;
}
.tag p,
.tag button {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: SF, arial, sans-serif;
  font-weight: 800;
  line-height: 0.8;
  display: flex;
  align-items: center;
  color: var(--tag-cl);
  gap: 8px;
  transition: transform 300ms 400ms ease;
}
.tag p i,
.tag button i {
  font-size: 0.6rem;
  font-weight: 900;
  color: var(--tag-cl);
}
.tag--click {
  outline: 2px solid var(--tag-cl);
  cursor: pointer;
  padding: 7px;
}
.tag--click:hover {
  background-color: #34395D;
}
.tag--click:focus {
  outline: 2px solid var(--tag-cl);
}
.tag--click p i {
  font-size: 0.7rem;
}
.tag--new {
  position: relative;
}
.tag--new::after {
  content: "NEW !";
  position: absolute;
  top: -14px;
  right: 8px;
  padding: 3px 5px;
  background: #e63946;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: SF, arial, sans-serif;
  color: white;
  border-radius: 4px;
}
.tag--check {
  overflow: hidden;
  height: 25px;
}
.tag--check i {
  transform: translate(5px, 20px) rotate(-180deg);
  transition: 300ms 900ms ease;
  color: var(--green);
}
.tag--check.active {
  background-color: var(--green-light);
  outline: 2px solid var(--green);
  cursor: default;
}
.tag--check.active p {
  color: var(--green);
  transform: translateY(20px);
}
.tag--check.active i {
  transform: translate(0, -14px) rotate(0);
}

.checkbox {
  background-color: rgba(61, 64, 109, 0.168627451);
  border-radius: 100vmax;
  position: relative;
  outline: 1px solid var(--tag-cl);
  cursor: pointer;
}
.checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 100vmax;
  background-color: var(--tag-cl);
  transition: transform 400ms ease;
  cursor: pointer;
}
.checkbox:has(input:checked) {
  background-color: var(--tag-bg);
}
.checkbox:has(input:checked)::before {
  transform: translate(calc(100% + 5px), -50%);
}
.checkbox input[type=checkbox] {
  opacity: 0;
  width: 35px;
  height: 10px;
  cursor: pointer;
}

.input {
  color: var(--white);
  background: var(--submenu);
  border: 1px #3d406d solid;
  border-radius: 4px;
}
.input::placeholder {
  color: var(--grey);
}

.header {
  display: flex;
  padding: 40px 30px;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  cursor: default;
  text-shadow: 6px 6px 10px rgba(17, 21, 28, 0.65);
}
.header__logo p {
  font-size: 1rem;
}
.header__logo p:last-child {
  font-size: 2.2rem;
  line-height: 0.8;
  font-weight: 700;
}
.header__buttons {
  position: relative;
}
.header__buttons button {
  background-image: radial-gradient(circle at 100% 100%, transparent 4px, #7b55cd 4px, #7b55cd 5px, transparent 5px), linear-gradient(to right, #7b55cd, #6197bf), radial-gradient(circle at 0% 100%, transparent 4px, #6197bf 4px, #6197bf 5px, transparent 5px), linear-gradient(to bottom, #6197bf, #6197bf), radial-gradient(circle at 0% 0%, transparent 4px, #6197bf 4px, #6197bf 5px, transparent 5px), linear-gradient(to left, #6197bf, #7b55cd), radial-gradient(circle at 100% 0%, transparent 4px, #7b55cd 4px, #7b55cd 5px, transparent 5px), linear-gradient(to top, #7b55cd, #7b55cd);
  background-size: 5px 5px, calc(100% - 10px) 1px, 5px 5px, 1px calc(100% - 10px);
  background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
  background-color: transparent;
  color: var(--white);
  padding: 5px 10px;
}
.header__buttons button p {
  font-size: 0.85rem;
}
.header__buttons img {
  max-width: 35px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 100vmax;
  transition: 300ms;
  cursor: pointer;
}
.header__buttons img:hover {
  filter: brightness(0.8);
}
.header__buttons i {
  position: absolute;
  bottom: -3px;
  right: -6px;
  display: flex;
  font-size: 0.5rem;
  transform: rotate(-90deg);
  background-color: var(--tag-bg);
  width: 0.5rem;
  height: 0.5rem;
  border: 3px solid var(--background);
  padding: 3px;
  border-radius: 100vmax;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  transition: 300ms ease;
  cursor: pointer;
}
.header__buttons i.active {
  transform: rotate(0deg);
}

.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: -30px;
  left: 50%;
  opacity: 0;
  transition: 400ms ease 100ms;
  transform: translateX(-50%);
}
.login--active {
  top: 40px;
  opacity: 1;
}
.login__inputs {
  display: flex;
  gap: 10px;
  position: relative;
}
.login__inputs .input {
  height: 16px;
  width: 150px;
  padding: 5px 10px;
  font-size: 0.8rem;
}
.login__inputs .input::placeholder {
  color: var(--grey);
}
.login__inputs i {
  position: absolute;
  top: 8px;
  right: 10px;
  font-weight: 500;
  color: rgb(185, 185, 185);
  cursor: pointer;
  font-size: 0.8rem;
}
.login .tag {
  cursor: pointer;
}

.logout {
  position: absolute;
  background-color: red;
  top: 85px;
  right: 30px;
  width: 140px;
  height: auto;
  border-radius: 4px;
  background: var(--submenu);
  font-size: 0.8rem;
  display: flex;
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  z-index: 100;
  transition: 300ms ease;
}
.logout--active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}
.logout__head p {
  font-size: 0.85rem;
  font-weight: 500;
}
.logout__head p:last-child {
  font-weight: 700;
  letter-spacing: 0;
  margin-top: 3px;
}
.logout__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logout__content i {
  cursor: pointer;
}

.notification {
  z-index: 999;
  display: flex;
  gap: 15px;
  position: fixed;
  align-items: center;
  text-align: right;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
}
.notification.active {
  animation: slideIn 400ms ease 400ms both;
  pointer-events: all;
}
.notification.close {
  animation: slideOut 400ms ease 200ms both;
  pointer-events: none;
}
.notification p {
  font-weight: 600;
  font-size: 1.1rem;
}
.notification i {
  font-weight: 400;
  font-size: 1.5rem;
}
.notification--red {
  background-color: var(--red-light);
  outline: 2px solid var(--red);
}
.notification--red p,
.notification--red i {
  color: var(--red);
}
.notification--green {
  background-color: var(--green-light);
  outline: 2px solid var(--green);
}
.notification--green p,
.notification--green i {
  color: var(--green);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1440px;
  padding: 80px 100px;
  padding-top: 0;
}
.hero__text {
  max-width: 50%;
  flex-basis: 50%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero__text__title {
  display: flex;
  flex-direction: column;
}
.hero__text__title__container {
  overflow: hidden;
}
.hero__text__title__container:last-child h1 {
  animation-delay: 560ms;
}
.hero__text__title__container h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  font-weight: 700;
  animation: hero__title 800ms 300ms ease both;
}
.hero__text__description p {
  line-height: 1.3;
}
.hero__text__description p:last-child {
  margin-top: 10px;
}
.hero__text__description p a {
  opacity: 0.75;
}
.hero__text__buttons {
  display: flex;
  gap: 25px;
}
.hero__text__buttons a,
.hero__text__buttons button {
  width: fit-content;
  padding: 4px 12px;
  background: linear-gradient(145deg, rgb(123, 85, 205) 0%, rgb(97, 151, 191) 100%);
  outline: none;
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
}
.hero__text__buttons a p,
.hero__text__buttons button p {
  font-size: 0.93rem;
}
.hero__text__buttons a {
  display: flex;
  align-items: center;
  background: var(--black-light);
  gap: 6px;
}
.hero__text__buttons a img {
  width: 15px;
  height: 15px;
}
.hero__image {
  max-width: 50%;
  flex-basis: 50%;
  margin-top: 30px;
  display: flex;
  justify-content: end;
}
.hero__image img {
  max-width: 75%;
  aspect-ratio: 1;
  transform: rotate(10deg);
}

.dashboard {
  display: flex;
  gap: 20px;
  padding: 0 100px;
  min-height: 900px;
  margin-bottom: 80px;
  transition: 300ms ease;
}
.dashboard__buttons {
  transition: 300ms;
  padding: 20px 100px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.dashboard__buttons__left {
  display: flex;
  align-items: center;
}
.dashboard__buttons select {
  background-color: transparent;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 300ms;
}
.dashboard__buttons select:focus {
  outline: none;
}
.dashboard__buttons select:hover {
  background-color: rgba(0, 0, 0, 0.158);
}
.dashboard__buttons select option {
  background-color: white;
  color: black;
}
.dashboard__component {
  background: var(--background-light);
  border-radius: 4px;
  padding: 10px;
  width: calc(100% - 20px);
}
.dashboard__component.news {
  position: relative;
}
.dashboard__component.news .dashboard__component__content {
  min-height: 185px;
  border-radius: 4px;
}
.dashboard__component.news .dashboard__component__content__banner {
  height: 185px;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dashboard__component .creation__container {
  overflow: auto;
  height: calc(100% - 40px);
}
.dashboard__component .creation__container form {
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.dashboard__component .creation__container form .creation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard__component .creation__container form .creation__buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.dashboard__component .creation__container form .creation p {
  font-size: 1.2rem;
  font-weight: 600;
}
.dashboard__component .creation__container form .creation label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dashboard__component .creation__container form .creation input {
  width: calc(100% - 25px);
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  border: 2px #434679 solid;
  background-color: #1e293b;
  color: #ffffff;
}
.dashboard__component .creation__container form .creation__answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dashboard__component .creation__container form .creation__answers p:first-child {
  position: relative;
}
.dashboard__component .creation__container form .creation__answers p:first-child i {
  height: 28px;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -0.5px;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}
.dashboard__component .creation__container form .creation__answers__input {
  position: relative;
}
.dashboard__component .creation__container form .creation__answers__input:not(:last-child) {
  margin-bottom: 5px;
}
.dashboard__component .creation__container form .creation__answers__input i {
  position: absolute;
  color: var(--grey);
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  font-weight: 400;
  padding: 8px;
  cursor: pointer;
}
.dashboard__component .creation__container form .creation__settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
}
.dashboard__component .creation__container form .creation__settings::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--tag-cl);
}
.dashboard__component .creation__container form .creation__settings__content {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
}
.dashboard__component .creation__container form .creation__settings p {
  font-size: 1.2rem;
  font-weight: 600;
}
.dashboard__component.absence .dashboard__component__content {
  height: calc(100% - 39px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px 5px 0 5px;
}
.dashboard__component.absence .dashboard__component__content .absence__empty {
  font-weight: 600;
}
.dashboard__component.absence .dashboard__component__content__lign {
  background-color: var(--red-light);
  outline: 2px solid var(--red);
  border-radius: 4px;
  padding: 10px;
}
.dashboard__component.absence .dashboard__component__content__lign p {
  color: var(--red);
  font-weight: 600;
}
.dashboard__component.absence .dashboard__component__content__lign.justified {
  background-color: var(--green-light);
  outline: 2px solid var(--green);
  border-radius: 4px;
  padding: 10px;
}
.dashboard__component.absence .dashboard__component__content__lign.justified p {
  color: var(--green);
}
.dashboard__component.planning .date {
  display: none;
}
.dashboard__component.planning .dashboard__component__date {
  display: flex;
  gap: 10px;
  align-items: center;
}
.dashboard__component.planning .dashboard__component__content {
  overflow: auto;
  height: calc(100% - 40px);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard__component.planning .day {
  display: none;
  flex-direction: column;
  gap: 10px;
}
.dashboard__component.planning .planning__class {
  padding: 8px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  border: 2px solid #434679;
  border-radius: 4px;
  background: rgba(61, 64, 109, 0.4);
  transition: 300ms;
  cursor: pointer;
}
.dashboard__component.planning .planning__class:hover {
  background: #2b324c;
}
.dashboard__component.planning .planning__class p:nth-child(1) {
  margin-bottom: 10px;
  font-size: 0.75rem;
  color: var(--tag-cl);
}
.dashboard__component.planning .planning__class p:nth-child(2) {
  font-size: 1rem;
  text-transform: capitalize;
  margin-left: 10px;
  font-weight: 500;
}
.dashboard__component.planning .planning__class p:nth-child(3) {
  font-size: 0.85rem;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 500;
}
.dashboard__component__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard__component__title span {
  font-weight: 300;
  color: var(--grey);
}
.dashboard__component__title__arrows {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.dashboard__component__title__arrows__arrow {
  color: white;
  font-size: 1.3rem;
  padding: 13px 10px;
  cursor: pointer;
  font-weight: 300 !important;
}
.dashboard__component__title__arrows__arrow.active {
  color: var(--grey);
  cursor: default;
  pointer-events: none;
}
.dashboard__component__content {
  margin-top: 10px;
}
.dashboard__component__content__lign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 5px;
}
.dashboard__component__content__lign:first-child {
  padding-top: 5px;
}
.dashboard__component__content__lign:last-child {
  padding-bottom: 5px;
}
.dashboard__component__content__lign p {
  font-weight: 500;
}
.dashboard__component__content__lign p span {
  font-size: 0.8rem;
  color: var(--grey);
}
.dashboard__component__content__lign p:last-child {
  color: var(--grey);
}
.dashboard__component__content__lign p:first-child {
  color: var(--white);
}
.dashboard__left {
  flex-basis: 60%;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard__left .dashboard__component {
  max-height: calc(33.33% - 11px);
}
.dashboard__left .dashboard__component.results .dashboard__component__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard__left .dashboard__component.results .results__bar {
  border-radius: 0 8px 8px 0;
  background-color: var(--tag-cl);
  width: calc(100% - 10px);
  height: 30px;
  display: block;
  transition: width 300ms ease;
  padding: 0;
  box-shadow: inset -4px -4px 8px -5px var(--tag-bg), inset 0px 4px 8px -3px white;
}
.dashboard__left .dashboard__component.results .results__bar__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.dashboard__left .dashboard__component.results .results__bar__container p,
.dashboard__left .dashboard__component.results .results__bar__container span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
}
.dashboard__left .dashboard__component.results .results__bar__container__images {
  display: flex;
  flex-direction: row;
  gap: 6px;
  max-width: 100%;
  overflow: auto;
}
.dashboard__left .dashboard__component.results .results__bar__container__images img {
  max-width: 20px;
  aspect-ratio: 1;
  border-radius: 100vmax;
  object-fit: cover;
}
.dashboard__left .dashboard__component.answer {
  min-height: calc(66.66% - 26.6px);
  position: relative;
}
.dashboard__left .dashboard__component.answer .answer__buttons {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.dashboard__left .dashboard__component.answer .dashboard__component__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.dashboard__left .dashboard__component.answer .dashboard__component__content .answer__head__title {
  padding: 5px;
}
.dashboard__left .dashboard__component.answer .dashboard__component__content .answer__head__title p {
  font-size: 1.8rem;
  font-weight: 600;
}
.dashboard__left .dashboard__component.answer .dashboard__component__content .answer__head__description {
  padding: 0 5px;
}
.dashboard__left .dashboard__component.answer .dashboard__component__content .answer__head__description p {
  font-size: 1rem;
  font-weight: 400;
}
.dashboard__left .dashboard__component.answer .dashboard__component__content .answer__option {
  padding: 15px;
  border: 2px solid #434679;
  background-color: #1e293b;
  border-radius: 4px;
  transition: 300ms;
  cursor: pointer;
}
.dashboard__left .dashboard__component.answer .dashboard__component__content .answer__option:hover {
  background-color: #1c2333;
}
.dashboard__left .dashboard__component.answer .dashboard__component__content .answer__option input {
  appearance: none;
}
.dashboard__left .dashboard__component.answer .dashboard__component__content .answer__option p {
  font-weight: 500;
}
.dashboard__left .dashboard__component.answer .dashboard__component__content .answer__option:has(input:checked) {
  background-color: var(--green-light);
  border: 2px solid var(--green);
}
.dashboard__left .dashboard__component.answer .dashboard__component__content .answer__option:has(input:checked) p {
  color: var(--green);
}
.dashboard__left .dashboard__component__content {
  height: calc(100% - 40px);
  overflow: auto;
}
.dashboard__right {
  flex-basis: 40%;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard__right .dashboard__component {
  position: relative;
  max-height: 762px;
  height: 762px;
}
.dashboard__right .dashboard__component.share {
  position: relative;
}
.dashboard__right .dashboard__component.share .dashboard__component__content__lign {
  flex-direction: column;
  gap: 10px;
  padding: 0;
  position: relative;
}
.dashboard__right .dashboard__component.share .dashboard__component__content__lign p {
  font-size: 1.2rem;
  font-weight: 600;
}
.dashboard__right .dashboard__component.share .dashboard__component__content__lign i {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px;
  font-weight: 300;
  color: var(--tag-cl);
  cursor: pointer;
}
.dashboard__right .dashboard__component.share input {
  width: calc(100% - 52px);
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 8px 12px;
  padding-right: 40px;
  border-radius: 4px;
  border: 1px #3d406d solid;
  background-color: #1e293b;
  color: #ffffff;
  cursor: pointer;
}
.dashboard__right .dashboard__component:last-child {
  max-height: 220px;
}

.class {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-background);
  border-radius: 4px;
  width: 400px;
  height: fit-content;
  padding: 20px;
}
.class__background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}
.class__background.active {
  display: block;
}
.class .fa-xmark {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
}
.class .fa-xmark:hover {
  color: var(--grey);
}
.class span {
  color: var(--tag-cl);
}
.class h2 {
  margin-top: 5px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.class__content {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2901960784);
  margin-top: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.class__content p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 1.2rem;
}
.class__content p span {
  font-weight: 500;
  color: var(--grey);
}

.current {
  display: flex !important;
}

@media screen and (max-width: 1024px) {
  .dashboard {
    flex-direction: column-reverse;
    justify-content: start;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .dashboard__buttons {
    padding: 20px;
  }
  .dashboard.survey {
    flex-direction: column;
  }
  .dashboard__component__content__lign {
    gap: 10px;
  }
  .dashboard__left .dashboard__component {
    max-height: 220px;
  }
  .dashboard__left .dashboard__component__content {
    height: unset;
    max-height: 185px;
  }
  .hero {
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 100px;
  }
  .hero .tag {
    padding: 10px;
  }
  .hero .tag p {
    font-size: 1.1rem;
  }
  .hero__image {
    display: none;
  }
  .hero__text {
    width: 100%;
    max-width: unset;
    flex-basis: unset;
    align-items: center;
  }
  .hero__text__title h1 {
    font-size: 5rem;
  }
  .hero__text__description p,
.hero__text__description a {
    font-size: 1.3rem;
  }
  .hero__text__buttons {
    flex-direction: column;
    align-items: center;
  }
  .hero__text__buttons button img,
.hero__text__buttons a img {
    width: 20px;
    height: 20px;
  }
  .hero__text__buttons button p,
.hero__text__buttons a p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 520px) {
  .class {
    width: calc(80% - 20px);
  }
  .class h2 {
    font-size: 1.5rem;
  }
  .hero {
    margin-top: 50px;
  }
  .hero .tag {
    padding: 8px;
  }
  .hero .tag p {
    font-size: 1rem;
  }
  .hero__image {
    display: none;
  }
  .hero__text__title h1 {
    font-size: 3rem;
  }
  .hero__text__description p,
.hero__text__description a {
    font-size: 1rem;
  }
  .hero__text__buttons button p,
.hero__text__buttons a p {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
