.db-btn__itm.sondage::after {
    content: 'NEW !';
    position: absolute;
    top: -16px;
    right: 8px;
    padding: 3px 5px;
    background: #e63946;
    color: white;
    border-radius: var(--border-radius);
}

.survey__content h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.survey__content p.mb-2 {
    text-align: center;
}

.survey__choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: var(--html-bg);
    padding: 25px;
    border-radius: var(--border-radius);
}

.survey__choice {
    display: flex;
    width: 48%;
    min-height: 130px;
}

.survey__choice button {
    width: 100%;
    background: var(--tag-bg);
    color: var(--tag-cl);
    text-transform: uppercase;
    border-radius: var(--border-radius);
    border: 2px solid var(--tag-cl);
    transition: var(--transition);
    position: relative;
    padding: 20px 30px;
}

.survey__choice button p {
    font-size: 1.1rem;
    font-weight: 600;
}

.survey__choice button:hover {
    background: #3d406db8;
}

.survey__choice-checked button,
.survey__choice-check button {
    border: 2px solid #289a37;
    color: #289a37;
    background-color: #cbe6cf;
}

.survey__choice-checked button:hover,
.survey__choice-check button:hover {
    background-color: #cbe6cf;
}

.survey__choice-check button {
    color: #cbe6cf;
}

.survey__choice-check button:before {
    content: "";
    position: absolute;
    height: 50%;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/check.svg);
    animation: choiceIn 300ms ease both;
}

.survey__choice-checked button:before {
    content: "";
    position: absolute;
    height: 50%;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/check.svg);
    animation: choiceOut 300ms ease both;
}

.stat .survey__choice {
    position: relative;
}

.stat .survey__choice button {
    opacity: 0.5;
}

.stat .survey__choice-checked button,
.stat .survey__choice-check button {
    opacity: 1;
}


.stat .survey__choice::after {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 0;
    height: 100%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background-color: red;
    animation: stats 600ms 1500ms ease both;
}

.survey__create {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create__row {
    display: flex;
    gap: 20px;
}

.create__row select {
    width: 50%;
    appearance: none;
}

.choices__container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.choices__container .survey-choices-input {
    flex-basis: calc(50% - 10px);
    position: relative;
}

.survey__choice__snd {
    padding-right: 30px !important;
    width: calc(100% - 50px) !important;
}

.survey__create input,
.survey__create select {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: var(--border-radius);
    border: none;
    outline: 1px solid var(--tag-cl);
    background-color: var(--background);
    color: var(--tag-cl);
    font-weight: 400;
}

.survey__create input::placeholder {
    color: var(--tag-cl);
}

.choices__container .survey-choices-input input {
    width: calc(100% - 40px);
}

.survey__create select {
    background-image: url(../img/angle-down.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right 10px bottom 50%;
    padding-right: 35px;
}

.choice-close {
    position: absolute;
    right: 10px;
    bottom: 30%;
    color: black;
    cursor: pointer;
}