:root {
    --submenu: #161d29;
    --html-bg: rgba(25, 33, 46, 1);
    --background: rgba(33, 45, 64, 1);
    --background-light: #273246;
    --white: white;
    --grey: rgb(185, 185, 185);
    --black-light: #2d2d2d;
    --tag-bg: #3d406d;
    --tag-cl: #c2bcfa;
    --blue: #0071e3;
    --red: #db3333;
    --red-light: #eeb2b2;
    --green: #80bd2a;

    --transition: 300ms;
    --border-radius: 4px;
}

.fa-plus::before {
    content: '\2b';
}

.fa-minus::before {
    content: '\f068';
}

.fa-chart-pie::before {
    content: "\f200";
}

.fa-user-tie::before {
    content: "\f508"
}

.fa-comment::before {
    content: "\f075";
}

.fa-xmark::before {
    content: "\f00d";
}

.fa-bars::before {
    content: "\f0c9";
}

.fa-sign-out::before {
    content: "\f2f5";
}

.fa-angle-down::before {
    content: "\f107";
}

.fa-cirlce-xmark::before {
    content: "\f057";
}

.fa-circle-check::before {
    content: "\f058";
}

.fa-github::before {
    content: "\f09b";
}

.fa-eye-slash::before {
    content: "\f070";
}

.fa-eye::before {
    content: "\f06e";
}

.fa-paper-plane::before {
    content: "\f1d8"
}

/*icones*/
.fa,
.fas,
.far,
.fal,
.fad,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

@font-face {
    font-family: 'Font Awesome 5 Pro';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url("../webfonts/fa-light-300.eot");
    src: url("../webfonts/fa-light-300.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-light-300.woff2") format("woff2"), url("../webfonts/fa-light-300.woff") format("woff"), url("../webfonts/fa-light-300.ttf") format("truetype"), url("../webfonts/fa-light-300.svg#fontawesome") format("svg");
}

.fal {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
}

@font-face {
    font-family: 'Font Awesome 5 Pro';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../webfonts/fa-regular-400.eot");
    src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
}

@font-face {
    font-family: 'Font Awesome 5 Pro';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../webfonts/fa-solid-900.eot");
    src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
}

/* developed by achille david and thibaut dusautoir */